<li>
  <span class="created_at" style="opacity:0.5;margin-top:-6px;"><%= message.created_at.strftime("%e %b %Y %H:%M") %></span>
  <div class="name"><%= message.name %></div>
  <div class="content"><%= message.content %></div>
</li>



